.synopsis-container {
  background-color: #FEF8DD;
}
.synopsis-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACDDDE;
}

.synopsis-content {
  line-height: 2;
}