
.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 15px;
  padding: 20px;
  width: 220px;
}

.movie-image {
  width: 100%;
}

.movie-details-container {
  display: flex;
  flex-direction: row;
}

.favorite-button {
  margin-left: 6px;
  display: flex;
  flex-direction: row;
}

.favorite-button:hover {
  cursor: pointer;
}

.favorite-text {
  margin: 1px 0 10px 6px;
  color: #b30000;
}