.genre-container {
  background-color: #FEF8DD;
}
.genre-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACDDDE;
}

.genre-content {
  line-height: 2;
}