.director-container {
  background-color: #FEF8DD;
}
.director-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACDDDE;
}

.director-content {
  line-height: 2;
}